.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  padding-right: 5rem;
  padding-left: 3rem;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.row{
  padding-top: 3rem;
}

.display-5 {
  font-size: 3rem;
}


.btn1{ color: black;
  background-color: white;
  border: none;
}

.btn2{
  background-color: transparent;
  border-color: white;
  color: white;
}

.display-5{
  color: black;
}

.feature-icon{
  background-color: rgb(190, 188, 188);
  border-radius: 0.75rem;
  height: 3rem;
  width: 3rem;
}

.page3{

  padding-top: 5rem;
  background-color: FAF9F8
}

.dog{
  border-radius: 50%;
  height: 100px;
}

.text-body-emphasis{
font-size: 30px
}

.page2{
padding-left: 3rem;
}

.button2{
color: white;
border: none;
}

.card-header3{
color: white;
}

.w-100{
border-color: black;
}

footer{
background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
background-size: 180% 180%;
animation: gradient-animation 18s ease infinite;
padding-left: 3rem;
}

.nav-link{
color: black;
}

.card3{
border: solid black;
}

